name: Release PCM Archive

on:
  push:
    tags:
      - '*'
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Make script executable
        run: chmod +x create_pcm_archive.sh
      
      - name: Create PCM archive
        run: ./create_pcm_archive.sh
      
      - name: Get version from tag
        id: get_version
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ steps.get_version.outputs.VERSION }}
          draft: true
          prerelease: false
      
      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./.out/jlc-kicad-lib-loader-${{ steps.get_version.outputs.VERSION }}-pcm.zip
          asset_name: jlc-kicad-lib-loader-${{ steps.get_version.outputs.VERSION }}-pcm.zip
          asset_content_type: application/zip
      
      - name: Upload artifact (non-release)
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v4
        with:
          name: pcm-archive
          path: .out/*.zip
          include-hidden-files: true
